
.containerParrafo{
	padding: 20x 20px 0px 20px;
	align-items: center;
	font-size: 24px;
	margin-top: 80px;
/*revisar parla que sirve este atributo*/
  overflow: hidden;
}
/* Logo dentro de la barra de navegación */
.logo {
  display: flex;
  align-items: center;
  height: 80%;
  text-decoration: none;
}
/* Imagen del logo */
.logo-img {
  height: 1px; /* Ajusta la altura del logo */
  margin: 0; /* Elimina margenes adicionales */
  object-fit: contain; /* Mantiene las proporciones del logo */
  padding: 10px;
}

/* Icono del menú */
.menu-icon {
/*  font-size: 1.5rem;*/
  cursor: pointer;
  color: #fff;
  
}


/* Estilos para el logo en el drawer */
.drawer-container .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
/*  padding: 20px 0;*/
}

.drawer-container .logo-img {
  /* Tamaño consistente del logo en el drawer */
}

/* Responsivo */
@media (max-width: 600px) {
  .navbar-container {
    height: 80px; /* Aumenta la altura para dispositivos pequeños */
  }
}


/* Menú lateral */
.drawer-container {
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: black;
  color: white;
  z-index: 1000;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
}

.drawer-container.open {
  left: 0;
}.drawer-list {
    list-style-type: none;
    list-style-type: none;
    padding-left: 0; /* Elimina el espacio interno */
    margin-left: 0;  /* Elimina el espacio externo */
}
.drawer-list li {
  text-align: left;
}
.drawer-list a {
  text-decoration: none;
  color: white;
  display: block;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
/*  border: solid red;*/
}

.drawer-list a:hover {
  background-color: #575757;
}

.logout-container {
  position: absolute;
  bottom: 20px;
  width: 90%;
  text-align: center;
}
/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 999;
}

.overlay.active {
  display: block;
}

/* Responsividad */
@media (max-width: 700px) {
  .drawer-list a {
    font-size: 16px;
  }

  .menu-icon {
    font-size: 16px;
  }

  .logo-img {
    height: 10px;
  }
}

/* Navbar */
.navbar-container {
  background-color: black;
  color: white;
  height: 110px;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  height: 100%;
  text-decoration: none;
}

/* Imagen del logo */
.logo-img {
  height: 60px; /* Ajusta la altura del logo */
  margin: 0; /* Elimina margenes adicionales */
  object-fit: contain; /* Mantiene las proporciones del logo */
/*  padding: 40px;*/
}

/* Icono del menú */
.menu-icon {
  font-size: 2.5rem;
  cursor: pointer;
  color: #fff;
  
}


/* Estilos para el logo en el drawer */
.drawer-container .logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
/*  padding: 5px 0;*/
}
/* Responsivo */
@media (max-width: 700px) {
  .navbar-container {
    height: 80px; /* Aumenta la altura para dispositivos pequeños */
  }
}


/* Menú lateral */
.drawer-container {
  position: fixed;
  height: 100%;
  color: white;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.2);
  transition: left 0.3s ease;
  top: 0;
/*  left: -250px;*/
/*  width: 250px;*/
/*  z-index: 1000;*/
}

.drawer-container.open {
  left: 0;
}


.drawer-list li {
  text-align: center;
}

.drawer-list a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px;
  display: block;
  transition: background-color 0.3s ease;
}

.drawer-list a:hover {
  background-color: #575757;
}

.logout-container {
  position: absolute;
  bottom: 20px;
  width: 90%;
  text-align: center;
}

.logout-button {
  width: 100%;
/*  padding: 10px;*/
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #d32f2f;
}

/* Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
/*  z-index: 999;*/
}

.overlay.active {
  display: block;
}

/* Responsividad */
@media (max-width: 700px) {
  .drawer-list a {
    font-size: 18px;
  }

  .menu-icon {
    font-size: 18px;
  }

  .logo-img {
/*    height: 10px;*/
  }
}
.drawer-container .logo-img {
  height: 60px;
}
.greca{
  filter: invert(100%);
  width: 140px;
  height: 60px;
  margin-top: 40px;
  background-color: transparent;
}