

.slider {
    width: 100%; /* Asegura que las im치genes ocupen todo el contenedor */
    height: 300px; /* Ajusta la altura de las im치genes */
    overflow: hidden; /* Evita que las im치genes se salgan del contenedor */
    position: relative;
}

.slide {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: slideAnimation 9s infinite; /* Animaci칩n de 9 segundos */
}

@keyframes slideAnimation {
    0% {
        left: 0;
    }
    33% {
        left: -100%;
    }
    66% {
        left: -200%;
    }
    100% {
        left: 0;
    }
}